.mat-typography {
    width: 350px;
    height: 1000px;
}

h4 {
  font-size: 24px;
  font-family: Cambria, sans-serif;
}

p {
  font-size: 20px;
  font-family: Cambria, sans-serif;
}

.card-body {
  background-color: rgb(48, 52, 66);
  color: snow;
}

.card-footer {
  background-color: #73402d;
}
