.naslov {
  background-color: #73402d;
  padding: 20px;
  margin: 0;
  text-align: center;
}

.material-icons {
  font-size: 32px;
  display: inline-block;
  line-height: 0;
  text-transform: none;
  text-rendering: optimizeLegibility;
  direction: ltr;
  color:snow;
}

h1 {
  font-family: Cambria, sans-serif;
  font-size:40px;
  color:snow;
}
