<div class="container-fluid">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper min-vh-100">
          <img src="./../assets/slika4.jpg" alt="First slide" class="pic">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper min-vh-100">
          <img src="./../assets/slika5.jpg" alt="Second slide" class="pic">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper min-vh-100">
          <img src="./../assets/slika2.jpg" alt="Third slide" class="pic">
        </div>
      </ng-template>
    </ngb-carousel>
</div>

