    <div class="card-group">
      <div class="col-md-4">
        <div class="card mdb-color lighten-2 text-center z-depth-2">
          <div class="card-body">
            <h2>Dešavanja i novosti</h2>
            <img src="./../assets/kreativnaradionica.jpg" style="width:434px; height:400px;">
            <div class="card-footer">
              <button routerLink="/news" class="btn btn-outline-info btn-block">Opširnije</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mdb-color lighten-2 text-center z-depth-2">
          <div class="card-body">
            <h2>Fotografije</h2>
            <img src="./../assets/bibliotekaveternik.jpg" style="width:434px; height:400px;">
            <div class="card-footer">
              <button routerLink="/gallery" class="btn btn-outline-info btn-block">Opširnije</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mdb-color lighten-2 text-center z-depth-2">
          <div class="card-body">
            <h2>E-biblioteka</h2>
            <img src="./../assets/knjigapozadina8.jpg" style="width:434px; height:400px;">
            <div class="card-footer">
              <button routerLink="/elibrary" class="btn btn-outline-info btn-block">Opširnije</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="kocic">
      <div class="card-group">
        <div class="col-md-3" id="kontakt">
          <h1>Kontakt:</h1>
          <div class="card-group">
            <div class="ikonica">
              <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </div>
            <div class="podaci">
              <h2>Adresa:</h2>
              <p>Ive Lole Ribara 3</p>
            </div>
          </div>
          <div class="card-group">
            <div class="ikonica">
              <mat-icon aria-hidden="false" aria-label="Example phone icon">phone</mat-icon>
            </div>
            <div class="podaci">
              <h2>Broj telefona:</h2>
              <p>021/820-333</p>
            </div>
          </div>
          <div class="card-group">
            <div class="ikonica">
              <mat-icon aria-hidden="false" aria-label="Example emial icon">email</mat-icon>
            </div>
            <div class="podaci">
              <h2>Email:</h2>
              <p>nidzatorma97@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-3" id="radno">
          <h1>Radno vreme biblioteke:</h1>
          <div class="card-group">
            <div class="ikonica">
              <mat-icon aria-hidden="false" aria-label="Example schedule icon">schedule</mat-icon>
            </div>
            <div class="podaci">
              <h2>Ponedeljak/Sreda/Petak:</h2>
              <p>Od 12:30 do 19:30</p>
            </div>
            <div class="ikonica">
              <mat-icon aria-hidden="false" aria-label="Example schedule icon">schedule</mat-icon>
            </div>
            <div class="podaci">
              <h2>Utorak/Četvrtak:</h2>
              <p>Od 7:30 do 14:00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="./../assets/petarkocic.jpg" style="width:745px; height:350px;">
        </div>
      </div>
    </div>
