.card-body {
  background-color: wheat;
}

.card-footer {
  background-color: #73402d;
}

.kocic {
    background-color:rgb(48, 52, 66);
    color:snow;
}

.ikonica {
   padding:26px;
   border:solid;
   margin-right:10px;
}

#kontakt {
    padding-top:16px;
}

#radno {
  padding-top: 16px;
}

h1, h2 {
  font-family: Cambria, sans-serif;
}
