<div class="card-group">
  <div class="col-md-3">
    <div class="sticky-top">
      <div class="list-group">
        <a routerLink="/aboutus" class="list-group-item list-group-item-action">O nama</a>
        <a routerLink="/guide" class="list-group-item list-group-item-action" [class.active]="true">Vodič za korisnike</a>
        <a routerLink="/news" class="list-group-item list-group-item-action">Vesti</a>
        <a routerLink="/gallery" class="list-group-item list-group-item-action">Galerija</a>
        <a routerLink="/contact" class="list-group-item list-group-item-action">Kontakt</a>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="guide">
      <h1>Organizacija biblioteke:</h1>
      <ul>
        <li>Upis u bilo koji ogranak ili odeljenje Biblioteke omogućava korišćenje svih fondova gradske biblioteke.</li>

        <li>Članarina važi godinu dana od dana upisa. Svaki korisnik učlanjuje se lično na osnovu lične karte.</li>

        <li>
          Svi fondovi Gradske biblioteke su dostupni korisnicima i mogu se koristiti van Biblioteke, sem periodičnih publikacija i priručnih fondova.
          Bibliotečki materijal zatvorenih fondova - zavičajne zbirke i čitaonice, koriste se isklučivo u njima.
        </li>

        <li>Korisnik Biblioteke može pozajmiti najviše tri knjige jednim, od toga samo jednu lektiru. Knjige se izdaju najduže na 20 dana.</li>

        <li>
          Na raspolaganju korisnicima su sva informativna sredstva gradske biblioteke,
          kao i pomoć i instrukcije bibliotekara u pronalaženju podataka u elektronskom centralnom katalogu.
        </li>

        <li>Na terminalu u ogranku „Đura Daničić“ korisnicima je omogućeno da sami pretražuju bazu podataka gradske biblioteke.</li>

        <li>Rezervacija knjiga vrši se uz posebu nadoknadu. Obaveštavanje korisnika o prispeću rezervisanih knjiga vrši se telefonom.</li>

        <li>Tematsko istraživanje elektronskih izvora u Informaciono-referalnom centru.</li>

        <li>
          Fotokopiranje do 10% publikacije, skeniranje i štampanje na laserskom štampaču vrše se u prostorijama čitaonice.
        </li>
      </ul>
    </div>
  </div>
</div>
