a {
  font-size: 20px;
}

h1 {
  font-family: Cambria, sans-serif;
  font-size: 38px;
}

.card-img {
  width: 255px;
  height: 350px;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

.card-footer {
  background-color: rgb(48, 52, 66);
  color: snow;
}

.card-header {
  background-color: #73402d;
  color: snow;
}

p {
  font-size: 16px;
}
