<div class="card-group">
  <div class="col-md-3">
    <div class="sticky-top">
      <div class="list-group">
        <a routerLink="/aboutus" class="list-group-item list-group-item-action">O nama</a>
        <a routerLink="/guide" class="list-group-item list-group-item-action">Vodič za korisnike</a>
        <a routerLink="/news" class="list-group-item list-group-item-action">Vesti</a>
        <a routerLink="/gallery" class="list-group-item list-group-item-action">Galerija</a>
        <a routerLink="/contact" class="list-group-item list-group-item-action" [class.active]="true">Kontakt</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="contact">
      <h1>Kontakt informacije:</h1>
      <h2>Adresa:</h2>
      <p>Ive Lole Ribara 1</p>
      <h2>Broj telefona:</h2>
      <p>021/820-333</p>
      <h2>Email:</h2>
      <p>nidzatorma97@gmail.com</p>
      <h2>Tekući račun:</h2>
      <p>840–131664–21</p>
      <h2>Matični broj:</h2>
      <p>08047048</p>
      <h2>PIB:</h2>
      <p>100122586</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="radno">
      <h1>Radno vreme:</h1>
      <h2>Ponedeljak/Sreda/Petak:</h2>
      <p>Od 12:30 do 19:30</p>
      <h2>Utorak/Četvrtak:</h2>
      <p>Od 7:30 do 14:00</p>
    </div>
    </div>
  </div>
