.card-img {
  width: 255px;
  height: 350px;
}

.card-body {
  background-color: rgb(48, 52, 66);
  color: snow;
}

.card-footer {
  background-color: #73402d;
}

ul {
  list-style-type: none;
  padding-left:12px;
}

li {
  float: left;
}
